@{
    ViewBag.Title = "Ubicame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ubicame-section" class="ubicame-page">
    <div class="container mt-5 ubicame-container">
        <!-- Primer cuadro: Título y Descripción -->
        <div class="row azul">
            <div class="col-md-6">
                <div class="text-center mt-4">
                    <h1 class="ubicame-title">¡Encuéntrame en la ciudad de Lima!</h1>
                    <p class="ubicame-subtitle">Con los mejores precios, cada vez más cerca de ti.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ubicame-image">
                    <img src="/images/Mapa-de-lima.jpg" alt="Imagen Tienda Wasi" class="img-fluid rounded">
                </div>
            </div>
        </div>

        <!-- Segundo cuadro: Dirección y Botón -->
        <div class="row amarillo">
            <div class="col-md-12">
                <div class="address-container">
                    <p>Dirección: Av. Guardia Peruana 890, Chorrillos 15054</p>
                    <a href="https://maps.app.goo.gl/UV5pAN1NhXrX3pDK6" target="_blank" class="btn btn-llamativo">Ver en Google Maps</a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ubicame-image">
                    <img src="/images/sedewasi.png" alt="Imagen Tienda Wasi" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</div>
<br></br>
<div class="container mt-3 text-center">
    <h4 class="payment-title">MÉTODOS DE PAGO</h4>
    <div class="payment-methods d-flex justify-content-center align-items-center gap-4 mt-3">
        <img src="/images/efectivo.png" alt="Efectivo" class="payment-icon">
        <img src="/images/tarjeta-debito.png" alt="Tarjeta de Débito" class="payment-icon">
        <img src="/images/visa.png" alt="Visa" class="payment-icon">
        <img src="/images/mastercard.png" alt="Mastercard" class="payment-icon">
        <img src="/images/tarjeta-credito.png" alt="Tarjeta de Crédito" class="payment-icon">
        <img src="/images/visa.png" alt="Visa" class="payment-icon">
        <img src="/images/oh.png" alt="Oh!" class="payment-icon">
        <img src="/images/oh-pay.png" alt="Oh! Pay" class="payment-icon">
    </div>
</div>
